.loginTextHolder {
    margin-bottom: 30px;
}

.signInText {
    color: #323B4B;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 19px;
}

.welcomeText {
    color: #8A94A6;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.or {
    color: #B0B7C3;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputBox {
    width: 540px;
    height: 58px;
    border-radius: 16px;
    border-radius: 16px;
    background: #FFF;
    padding-left: 14px;

}

.inputBox::placeholder {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-left: 36px;

}

.placeHolderIcon {
    width: 22px;
    height: 22px;
    color: #C5CBD3;
}

.label {
    color: #B0B7C3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.eye {
    font-size: 20px;
    color: #B0B7C3;
}

.checkBoxText {
    color: #B0B7C3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}

.signInBtn {
    width: 540px;
    height: 58px;
    border-radius: 16px;
    border: 1px solid #377DFF;
    background: #377DFF;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 35px;
    cursor: pointer;
}

.signInBtnText {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.formFooter {
    color: #B0B7C3;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 35px;
}

.formFooterLink {
    color: #377DFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.invalidEmailError {
    color: #FF5630;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}